* {
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid black;
    height: 50px;
    width: 150px;
    position: relative;
    border-radius: 50px;
    background-color: transparent;
    transition: all 0.5s ease;
    left: 30%;
    text-align: center;
}

.text {
    margin-top: 15px;
}

.webDesign {
    position: absolute;
    top: 102px;
    left: 0;
}

.HTML {
    top: 50px;
    left: 657px;
}

.CSS {
    top: 0px;
    left: 206px;
}

.XHTML {
    top: 120px;
    left: 200px;
}

.htmlChild {
    top: 67px;
    left: -136%;
}

.container:hover{
    background-color: orangered;
}

.verticalLine, .verticalLineChild {
    border: 1px solid black;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 100%;
}

.verticalLineChild {
    top: -104%;
}

.horizontalLineRight, .horizontalLineLeft, .horizontalLine {
    border: 1px solid black;
    width: 200px;
    position: absolute;
    top: 100%;
}

.horizontalLine {
    border: 1px solid black;
    width: 450px;
    position: relative;
    top: 133%;
    right: 100%;
}

.horizontalLineLeft {
    right: 50%;
}

.twoElemParent {
    position: absolute;
    right: 430px;
    top: 101px;
}
.twoElemChild {
    position: relative;
}